<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013957656747-ftejjpma276saeolqha7l52bvfl5otvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013957656747-ftejjpma276saeolqha7l52bvfl5otvd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013957656747-oa71brudkog4gjga2gskii3ts0pp6sdm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCddOcCLmWNtNXMJNNZYh0tw5xWkB989b0</string>
	<key>GCM_SENDER_ID</key>
	<string>1013957656747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompan.uitmeats</string>
	<key>PROJECT_ID</key>
	<string>uitm-eats</string>
	<key>STORAGE_BUCKET</key>
	<string>uitm-eats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013957656747:ios:aa97c31482491670d8f7ee</string>
</dict>
</plist>